@model POO3.Models.ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Serie</h4>
        <h3>
            @Html.DisplayFor(model => Model.Serie.Nome)
        </h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Episodio.Nomeepisodio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Episodio.Numeroepisodio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Episodio.Temporada)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Episodio.Avaliacao)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Episodio.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>